<div class="list" ng-controller="setPlanCtrl">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">面试时间</span>
	    <input type="text" placeholder="Time for the interview" ng-model="listI.date">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">面试地点</span>
	    <input type="text" placeholder="Interview location" ng-model="listI.position">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">备注</span>
	    <input type="text" placeholder="Remarks" ng-model="listI.other">
	  </label>
</div>